p, ul {
  font-family: Georgia,"Times New Roman",Times,"Kai","Kaiti SC"
  ,"KaiTi","BiauKai","楷体","楷体_GB2312",serif;
}
a:hover {
  text-decoration: none;
}

h2 {
  padding: 2px;
  border-bottom: 1px solid rgba(182, 182, 182, 0.7);
}



::-moz-selection { color: white;  background: #ff5e99; }
::selection      { color: white;  background: #ff5e99; }

.block {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.container-narrow {
  margin: 0 5%;
  /*max-width: 1000px;*/
}

html {
/*  background-color: #fdf6e3;*/
/*  background-image: url("http://zuchefeng.oss-cn-hangzhou.aliyuncs.com/wood.jpeg");*/
/*background: #6c7989 linear-gradient(#6c7989, #434b55) fixed;
background-image: url("/images/checker.png");*/
}
body {
  /*background: #6c7989 linear-gradient(#6c7989, #434b55) fixed;*/*/
  /*background-image: url("/images/checker.png");*/
  /*background-image: url("/images/bg.png"); */
}

body.sidebar #canvas {
  -webkit-transform: translate(20%);
  -moz-transform: translate(20%);
  -ms-transform: translate(20%);
  transform: translate(20%);
}

#canvas {
  position: relative;
  width: 100%;
  height: 100%;
  /*background: #6c7989 linear-gradient(#6c7989, #434b55) fixed;*/
  /*background-image: url("/images/checker.png");*/
  /*background-image: url("/images/bg.png");*/
  background-color: white;
  min-height: 2000px;
  padding-top: 40px;
  transition: 400ms;
  z-index: 1;
}
html {
  height: 100%;
}

#menu-btn {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 20px;
}

#menu-btn a {
  color: black;
}

#index-title {
  margin: 40px auto;
  text-align: center;
}

nav {
  display: none;
}

/*#main {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}*/

.posts > div {
  padding: 20px;
/*  background-color: #f5f5f5;*/
/*  margin: 20px;*/
  /*border-bottom: 1px solid #000;*/
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.posts > div:last-child {
  /*border-bottom: none;*/
}

/*#sb-site {
  background-color: transparent;
}*/



#sidebar {
  position: fixed;
  width: 20%;
  height: 100%;
  background-color: #222222;
  color: white;
  font-size: 14px;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#sidebar ul li {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  margin: 0;
}
#sidebar ul > li:first-child {
  border-top: none;
}
#sidebar ul > li:last-child {
  border-bottom: none;
}
#sidebar ul li a {
  width: 100%;
  display: inline-block;
  padding: 1em;
  color: #f2f2f2;
}
#sidebar ul li label {
  color: gray;
  width: 100%;
  padding: 1em;
  display: inline-block;
}
#sidebar ul li a:hover {
  text-decoration: none;
  background-color: rgba(255,255,255,0.05);
  color: rgba(218,43,93,1);
}
#sidebar ul li a.active {
  text-decoration: none;
  background-color: rgba(255,255,255,0.05);
  color: rgba(218,43,93,1);
}

#copyright {
  margin: 10px auto;
}


/*desert code theme*/
/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}
